/* Map on hover info box */
.info {
    padding: 6px 8px;
    font: 14px/16px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
}

[data-fr-theme="dark"] .info {
    background: #161616cc;
}

/* Legend control */
.legend {
    line-height: 18px;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
}

[data-fr-theme="dark"] .legend {
    background: #161616cc;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}